
body {
  background-color: #00143c;
  color: #64b4dc;
}

#top {
  border: #64b4dc solid;
  width: 95vw;
  font-size: 2em;
  margin-top: 1%;
}

#spreads {
  height: 70vh; 
  overflow: scroll;
  font-size: 2em;
  scrollbar-width: none;
}

table {
  width: 180%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px double #64b4dc;
    padding: 0;
    background-color: #00143c;
}

td {
  animation: float 3s ease-in-out infinite;
  padding: 1%;
  user-select: none;
}

th {
  display: none;  
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.selected {
  color: #ffffff;
  font-size: 1.25em;
}

#bot {
  margin: 0% 2%;
  z-index: 1;
  position: relative;
  background-color: #00143c;
}

.botbox {
  border: #64b4dc solid;
  margin: 0% 1% 1% 2%;
  padding: 0%;
}


.barchart {
  background-color: #ffffff;
  width: 0%;
  margin: 0%;
}

.belowchart {
  height: 0px;
}


.centered-div {
  background-color: #00143c;
  color: #64b4dc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: #64b4dc solid;
}

#numanim {
  color: #ffffff;
  font-size: 1.25em;
  transition: all .5s ease-in-out;
  z-index: 0;
}

